POSTGRES_DB=labsistem
POSTGRES_USER=labsistem
POSTGRES_PASSWORD=labsistem
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
CONNECTION_STRING=Host=db;Port=5432;Database=labsistem;Username=labsistem;Password=labsistem
